/*GENERAL STYLING*/
.App {
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text';
}
h1{
  font-size: 3vw;
}
h2{
  font-size: 2vw;
}
p {
  font-family: 'Karla';
  font-size: 1.5vw;
  font-weight: 500;
}
img {
  border-radius: 20px;
  width: 100px;
}

/*FOOTER STYLING*/
Footer {
  display: flex;
  background-color: #495E57;
  font-size: 0.7rem;
  justify-content: space-around;
}
Footer ul {
  list-style-type: none;
}

/*NAV STYLING*/
nav ul{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 4vw;
  padding-right: 4vw;
}
nav li{
  font-size: 1.5vw;
}
nav a{
  text-decoration: none;
  color: #495E57;
  font-weight: 900;
  font-family: 'Markazi Text';
  font-style: normal;
}
nav img {
  width: 14vw;
}

/*HERO SECTION STYLING*/
.hero-section {
  display: flex;
  background-color: #495E57;
  justify-content: space-evenly;
  align-items: center;
  height: 25vw;
  padding-left: 10vw;
  padding-right: 10vw;
}
.hero-section>div{
  flex-basis: 50%;
}
.hero-section h1 {
  color: #F4CE14;
}
.hero-section h2, .hero-section p {
  color: #EDEFDE;
}
.hero-section button {
  background-color: #F4CE14;
  color: #000000;
  font-family: 'Karla';
  width: 15vw;
  height: 5vw;
  border-radius: 20px;
  border-style: none;
  font-size: 2vw;
}
.hero-section img{
  width: 20vw;
  position: relative;
  top: 5vw;
  left: 17vw;
}

/*HIGHLIGHTS STYLING*/
.highlights {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 12vw;
}
.highlights>div {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}
.highlights h1~button{
  background-color: #F4CE14;
  color: #000000;
  font-family: 'Karla';
  width: 15vw;
  height: 5vw;
  border-radius: 20px;
  border-style: none;
  font-size: 2vw;
  margin-right: 5vw;
}

/*PLATE STYLING*/
.plate {
  background-color: darkgrey;
  text-align: center;
  padding:1vw;
}
.plate img {
  width: 22vw;
  height: 15vw;
  padding-bottom: 1vw;
}
.plate h2, .plate h3, .plate button {
  display: inline;
}
.plate p:nth-child(3) {
  color: indianred;
  display: inline;
  padding-left: 3vw;
}
.plate h3 {
  padding-right: 3vw;
}

/*TESTIMONIALS STYLING*/
.testimonials {
  background-color: #495E57;
  text-align: center;
  padding: 3vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.testimonials>h1 {
  color: #F4CE14;
  padding-bottom: 2vw;
}
.testimonial-cards {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}
.testimonial {
  background-color: #EDEFDE;
  text-align: left;
  padding: 2vw;
}
.testimonial>img {
  width: 10vw;
}
.retings {
  display: flex;
  padding-top: 2vw;
}
.star {
  font-size: 2vw;
  color: #F4CE14;
}

/*BOOKING FORM STYLING*/
.BookingForm form{
  display: grid;
  max-width: 200px;
  gap: 20px
}



