.App {
  text-align: center;
}


Footer {
  display: flex;
  background-color: #BFBFBF;
  font-size: 0.7rem;
  justify-content: space-around;
}
Footer ul {
  list-style-type: none;
}
Nav ul{
  display: flex;
  list-style-type: none;
  gap: 1rem;
  justify-content: space-around;
}

Nav a{
  text-decoration: none;
  color: #495E57;
  font-weight: 900;
  font-family: 'Markazi Text';
  font-style: normal;
}

