.App {
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text';
}
p {
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 500;
}
img {
  border-radius: 20px;
  width: 100px;
}


Footer {
  display: flex;
  background-color: #495E57;
  font-size: 0.7rem;
  justify-content: space-around;
}
Footer ul {
  list-style-type: none;
}
Nav ul{
  display: flex;
  list-style-type: none;
  gap: 1rem;
  justify-content: space-around;
}

Nav a{
  text-decoration: none;
  color: #495E57;
  font-weight: 900;
  font-family: 'Markazi Text';
  font-style: normal;
}

.hero-section {
  display: flex;
  background-color: #495E57;
}

